body{
    background-image:url('https://d1hjkbq40fs2x4.cloudfront.net/2021-10-28/files/blue-white-waterfall-photography_2173-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }


  body {
    margin: 0;
  }
  
  div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
   a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
   a.active {
    background-color: #04AA6D;
    color: white;
  }
  /*
   a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
*/
  footer>a, footer>a:visited {
    text-decoration: none;
    color: white;
}
img {
  height: 200px;
  margin: auto;
}

h1 {
  text-shadow: 4px 4px 4px #000000;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-bottom: 0px;
}

h1, footer {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  font-size: small;
  color: white;
}

li {
  text-align: center;
  color:rgb(255, 255, 255);  
  font-family: 'Courier New', Courier, monospace;
}

p {
font-family: 'Courier New', Courier, monospace;
color: #f1f1f1;
text-align: center;
}

.floatright {
  float: right;
  clear: right;
  margin: 10px;
}

button {
    color: aliceblue;
    float: right
}